<h1>New Task</h1>

<!-- <form action="/tasks" method="post">
  <label for="name">Name: </label>
  <input type="text" name="task[name]" id="name">
  <label for="description">description: </label>
  <input type="text" name="talk[description]" id="description">
  <input type="submit">
</form> -->

<%= form_for @task do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :description%>
  <%= f.check_box :done%>
  <%= f.submit 'Create the task' %>
<% end %>
